---
layout: Minima
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cult of the Poinco</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<hr class="divider">
<h1>Cult of the Poinco</h1>
<hr class="divider">

<div class="grid-container">
    {% for image in site.static_files %}
        {% if image.path contains 'data/gif' %}
            <div class="grid-item"><img src="{{ image.path }}" alt="{{ image.name }}"></div>
        {% endif %}
    {% endfor %}
</div>

</body>
</html>