body {
    font-family: monospace;
    display: flex;
    flex-direction: column;  /* This ensures content flows vertically */
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 20px;  /* Provides some space at the top */
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4em;  /* Adjust to your preference */
    margin-bottom: 30px;  /* Provides some space between title and grid */
    color: #333;  /* Font color, adjust to your liking */
}

h2 {
    text-align: center;
}

.divider {
    width: var(--width, 600px); /* overridden with the custom property value, if provided */
    border-top: var(--height, 10px) solid #000000;
    margin: 10px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* This will adjust based on the GIFs' original sizes */
    gap: 20px; /* Gap between each grid item */
    width: fit-content; /* Let the width be determined by its content */
    margin: auto; /* Center the grid container */
}

.grid-item {
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center; /* Center the GIF vertically */
    justify-content: center; /* Center the GIF horizontally */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%; /* Ensure GIFs aren't larger than their container */
    max-height: 100%;
}

.rgb-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #5f5f5f; /* Initial color */
    color: white;
    outline: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.rgb-button:hover {
    animation: colorChange 5s infinite; /* The animation will take 5 seconds and repeat infinitely */
}

@keyframes colorChange {
    0% { background-color: #0099ff; }
    20% { background-color: #ff1900; }
    40% { background-color: #00ff6a; }
    60% { background-color: #ff9d00; }
    80% { background-color: #b700ff; }
    100% { background-color: #0099ff; }
}